@inject ThemeConfiguration Theme

@if (Result is null)
{
    <div class="flex
                w-full lg:w-4/5
                h-full lg:h-[89vh]
                max-h-min lg:max-h-[89vh]
                bg-[@Theme.Primary]
                border
                border-[@Theme.Border]
                items-center
                justify-center
                rounded-xl
                drop-shadow" id="codeview_idle">
        <div class="flex items-center flex-col">
            <Icon Data="Icons.Brand" width="82px" height="82px" class="fill-black/80"/>
            <span class="text-black/80 text-3xl font-black">Select Member to decompile</span>
        </div>
    </div>
}
else
{
    <div class="flex
            flex-col
            w-full lg:w-4/5
            h-full lg:h-[89vh]
            max-h-min lg:max-h-[89vh]
            bg-[@Theme.Primary]
            border
            border-[@Theme.Border]
            rounded-xl
            drop-shadow" id="codeview">

        <div class="flex rounded-xl bg-[@Theme.Primary]" id="codeview_header">
            <div class="flex items-center gap-x-2 py-2.5 px-6">
                <Icon Data="@Result.Icon" width="18px" height="18px"/>
                <span class="leading-6 font-medium">
                    @Result.Header
                </span>
            </div>
            <div class="grow border-b border-l border-[@Theme.Border] rounded-bl-xl rounded-tr-xl bg-[@Theme.Secondary]"></div>
        </div>

        <div class="flex flex-col px-2 py-2.5 overflow-auto" id="codeview_content">
            @Result.RenderResult()
        </div>

    </div>
}